body{
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
*{
    box-sizing: border-box;
}
.container{
    height: 450px;
    width: 320px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}

.display{
    width: 280px;
    height: 65px;
    margin: 2px;
    font-size: 40px;
    text-align: right;
    margin: 10px;
    padding-top: 10px;
    padding-right: 15px;
    position: relative;
    color: white;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 10px;
}
.smallDisplay{
    font-size: 16px;
    color: white;
    text-align: right;
    position: absolute;
    top: 5px;
    width: 100%;
}
.main{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 40px;
    text-align: right;
}
.row{
    display: flex;
    justify-content: center;
    gap: 10px;
}
button{
    flex: 1;
    height: 70px;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.op{
    background-color: darkorange;
    color: white;

}
.clear{
    color: white;
    background-color: rgb(94, 91, 91);
}
.per{
    color: white;
    background-color: rgb(94, 91, 91);
}
.plusOrMinus{
    color: white;
    background-color: rgb(94, 91, 91);
}
.dot{
    background-color: rgb(54, 53, 53);
    color:white;
}
.num{
    background-color: rgb(54, 53, 53);
    color:white;
}
.nums{
    background-color: rgb(54, 53, 53);
    color:white;
}
button:hover{
    transform: scale(0.95);     
}
button:active{
    filter: brightness(0.85);
}
.equal{
    background-color: rgb(255, 159, 10); 
    color: white;
}
.zero {
    flex: 2.15;
    border-radius: 35px;
    text-align: left;
    padding-left: 28px;
}
